<div ng-controller="pillsWatchCtrl">
    <button ng-click="removeAllTopics()">remove all</button>
    <form>
        <label for="newHealthTopic.name">

        </label>
        <input type="text" ng-model="newHealthTopic.name">

        <label>

        </label>
        <input type="text" ng-model="newHealthTopic.description">
        <button ng-click="addTopic(newHealthTopic)">+</button>
    </form>
    <ul>
        <li ng-repeat="topic in healthTopics">
            <span>{{topic.name}}</span>
            <p>
                {{topic.description}}
            </p>
            <button ng-click="removeTopic(topic)">X</button>
        </li>

    </ul>
</div>
