.healthTopics {
    .addNewBar {
        background-color: beige;
        md-icon {
            font-size: 30px;
            cursor: pointer;
            &:hover {
                color: blue;
            }
        }
        .icons {
            md-icon {
                float: left;
            }
        }
        .deleteAll {
            display: block;
            float: right;
            md-icon {
                color: red
            }
        }
    }
}
